<html>
{% include "collector/includes/nav.html" %}
<strong>CORRIDORS OF TIME<br>
CROWDSOURCED TRANSCRIPTION & VALIDATION</strong>
<h4>Purpose:</h4>
The purpose of this site is to provide the most accurate database of puzzle piece transcriptions by crowdsourcing the transcription process and verifying through redundancy.<br />
<strong>DISCLAIMER:</strong><br />
Because we wanted this in front of people NAOW, the frontend is extremely dirty. We are working with someone to fix that. In the meantime, this is what it is.<br>
<h4>Help wanted:</h4>
Transcriptions needed! Click on <a href="/transcribe">Transcribe Something</a> above and get going, instructions are on the page!<br>
<h4>Access to data:</h4>
There would be no point to this effort at all if you didn't get the output. The found solutions are accessible, but not in a good format. We are going to do CSV exports. That code hasn't been written. Please get in touch with @ebuch if you'd like to help. We are keen on flagging rotations first, before we go to CSV export.
<h4>How this works:</h4>
Each image is transcribed several times by different people. Identical transcriptions increases the confidence that the transcription is accurate. Once the accuracy of an image's transcription has reached a high confidence rating, it will be added to our table of verified results.
<p>
This is an effort by the <a href="https://discord.gg/Tue4PMf">RaidSecrets Discord server</a><br>
</html>
