<html>
{% include "collector/includes/nav.html" %}
CORRIDORS OF TIME<br>
CROWDSOURCED TRANSCRIPTION & VALIDATION<br>
<p>
PURPOSE:<br>
The purpose of this site is to provide the most accurate database of puzzle piece transcriptions by crowdsourcing the transcription process and verifying through redundancy.
<p>
DISCLAIMER:<br>
Because we wanted this in front of people NAOW, the frontend is extremely dirty. We are working with someone to fix that. In the meantime, this is what it is.<br>
<p>
HELP WANTED:<br>
Transcriptions needed! Click on <a href="/transcribe">Transcribe Something</a> above and get going, instructions are on the page!<br>
<p>
This is an effort by the <a href="https://discord.gg/Tue4PMf">RaidSecrets Discord server</a><br>
</html>
