<div>
	{
	<a href="{% url 'index' %}" >Home</a> &nbsp;||&nbsp;
	<a href="{% url 'transcriptionGuide' %}">Transcription Guide</a> &nbsp;||&nbsp;
	<a href="{% url 'transcribe' %}">Transcribe Something</a> &nbsp;||&nbsp;
	<a href="{% url 'puzzlepieceSubmit' %}">Submit New Puzzle Piece</a> &nbsp;||&nbsp; 
	<a href="{% url 'puzzlepieceIndex' %}">View Newest Pieces</a> &nbsp;||&nbsp;
	<a href="{% url 'confidenceIndex' %}">View All Confidence Ratings</a> &nbsp;||&nbsp;
	<a href="{% url 'transcriptions' %}">View All Transcriptions</a> &nbsp;||&nbsp;
	<a href="{% url 'confidenceSolutionIndex' %}">View All Found Solutions</a>
	}<br />
	{
        <a href="{% url 'exportVerifiedCSV' %}">CSV export of found solutions</a>
	}
</div>
