PATH=./scripts:$PATH
#export EXTRA_VARS='{ "compose_env": { "URL": "example.com" , "TLS_EMAIL": "zavala@example.com" , "TRAEFIK_AUTHSTRING": "ikora:WHETHERWEWANTEDITORNOT" , "IMAGE_TAG": "latest" , "IS_DEBUG": "0" , "DJANGO_SECRET_KEY": "WESTEPPEDINTOAWARWITHTHECABALONMARS" , "SQL_USER": "ashermir" , "SQL_PASSWORD": "SOLETSGETTOTAKINGOUTTHEIRCOMMANDONEBYONE" , "SQL_PORT": "3306" , "SQL_PASSWORD_ROOT": "VALUSTA'AURCFROMWHATICANGATHERHECOMMANDSTHE" }, "gh":{"user":"SIEGEDANCERS","pass":"FROMANIMPERIALTANKJUSTOUTSIDERUBICON"} }'