DEBUG=1
SECRET_KEY=LOL_ITS_A_SECRET_TO_EVERYBODY
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.mysql
SQL_DATABASE=puzzlepieces
SQL_USER=puzzler
SQL_PASSWORD=puzzling
SQL_HOST=db
SQL_PORT=3306
DATABASE=mysql
