DEBUG=0
SECRET_KEY=T73PCsuKgBbb0PF3wLG8hpbWQq5qnF6uTQGwfnHBfpkjiQ0nCPUQu4POkqgy
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.mysql
SQL_DATABASE=puzzlepieces
SQL_USER=puzzler
SQL_PASSWORD=6uTQGwfnHBfpkjiQ0nCPUQu4POkqgy
SQL_HOST=db
SQL_PORT=3306
DATABASE=mysql
